<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<link rel='stylesheet' href='/Content/about.css'/>

<section id="projects" class="scroll-section">
        <div class="project">
	    <h2>Our Mission</h2>
            <img src="/assets/images/gym1.jpg" alt="Project 1">
            <div class="project-text">
                <p>Sculpt Vault's mission is to empower fitness enthusiasts by providing a user-friendly platform for seamless tracking and elevation of their lifting journey. The platform streamlines the process of managing workout splits, centralizing information to inspire and support users in achieving their fitness goals. Sculpt Vault goes beyond being a workout companion, creating a dedicated space where progress is celebrated, making every lift count.</p>
            </div>
        </div>
        <div class="project">
	    <h2>About Us</h2>
            <img src="/assets/images/gym2.jpg" alt="Project 2">
            <div class="project-text">
                <p>Welcome to Sculpt Vault, a passion project led by a dynamic team of five university students specializing in Networking & IT Security. Driven by the belief that tracking lifting progress should be seamless, we've crafted a user-friendly platform, combining technical proficiency with a shared enthusiasm for promoting a healthier lifestyle through easy customization of workout splits.</p>
            </div>
        </div>
</section>

    <!-- New Section for 5 Photos -->
    <h1 class="title" style="text-align: center;">The Creators</h1>
    <div class="row">
      <div class="about-col">
        <img src="/assets/images/ashley.png" alt="Photo 1" class="about-img" id="photo1-img">
        <div class="overlay" id="photo1-overlay">
          <p style="color: white; text-decoration: none; font-weight: bold;">Ashley Conejo</p>
        </div>
      </div>

      <div class="about-col">
        <img src="/assets/images/lizzy.jpeg" alt="Photo 2" class="about-img" id="photo2-img">
        <div class="overlay" id="photo2-overlay">
          <p style="color: white; text-decoration: none; font-weight: bold;">Lizzy Adedigba</p>
        </div>
      </div>

      <div class="about-col">
        <img src="/assets/images/keyshawn.jpg" alt="Photo 3" class="about-img" id="photo3-img">
        <div class="overlay" id="photo3-overlay">
          <p style="color: white; text-decoration: none; font-weight: bold;">Keyshawn Forde</p>
        </div>
      </div>

      <div class="about-col">
        <img src="/assets/images/yuvraj.jpg" alt="Photo 4" class="about-img" id="photo4-img">
        <div class="overlay" id="photo4-overlay">
          <p style="color: white; text-decoration: none; font-weight: bold;">Yuvraj Shah</p>
        </div>
      </div>

      <div class="about-col">
        <img src="/assets/images/zain.jpeg" alt="Photo 5" class="about-img" id="photo5-img">
        <div class="overlay" id="photo5-overlay">
          <p style="color: white; text-decoration: none; font-weight: bold;">Zain Saleem</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>
