<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>
<link rel='stylesheet' href='/Content/contact.css' />

<section class="contact" id="contact">
     <div class="container">
        <div class="content">
            <div class="box form wow slideInLeft">
               <form>
                  <input type="text" placeholder="Enter Name">
                  <input type="text" placeholder="Enter Email">
                  <input type="text" placeholder="Enter Mobile">
                  <textarea placeholder="Enter Message"></textarea>
                  <button type="submit">Send Message</button>
               </form>
            </div>
            <div class="box text wow slideInRight">
                 <h2>Get Connected with Us</h2>
                  <p class="title-p">Whether you're a seasoned fitness enthusiast or just getting started on your fitness journey, our team is here to assist you. We value your feedback and are eager to address any inquiries you may have.</p>
                  <div class="info">
                      <ul>
                          <li><span class="fa fa-phone"></span> 250 332 5840</li>
                          <li><span class="fa fa-envelope"></span> Sculptvault.connect@gmail.com</li>
                      </ul>
                  </div>
                 


<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>




