<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<link rel='stylesheet' href='/content/home.css' />

  <!-- Start Home -->
  <section class="home wow flash" id="home">
  	 <div class="container">
  	 	  <h1 class="wow slideInLeft" data-wow-delay="1s">It's <span>gym</span> time. Let's go</h1>
  	 	  <h1 class="wow slideInRight" data-wow-delay="1s">We are ready to <span>help you</span></h1>
  	 </div>
  	  <!-- go down -->
  	      <a href="#about" class="go-down">
  	      	  <i class="fa fa-angle-down" aria-hidden="true"></i>
  	      </a>
  	  <!-- go down -->

  </section>

  <div class="cta-buttons-container">
    <a href="/about" class="cta-button">Learn More</a>
    <a href="/login" class="cta-button">Sign Up</a>
</div>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>
