<link rel='stylesheet' href='/content/nav.css' />
<nav>
  <img src="/assets/images/banner.jpeg" class="logo">
  <ul id="sidemenu">

    <li class="nav-item">
      <% if (title === "Home") { %>
        <a class="nav-link active" href="/home">Home</a>
      <% } else { %>
        <a class="nav-link" href="/home">Home</a>
      <% } %>
    </li>


   <li class="nav-item">
      <% if (title === "workout") { %>
        <a class="nav-link active" href="/workouts">Workout Split</a>
      <% } else { %>
        <a class="nav-link" href="/workouts">Workout Split</a>
      <% } %>
    </li>

    <li class="nav-item">
      <% if (title === "About") { %>
        <a class="nav-link active" href="/about">About Us</a>
      <% } else { %>
        <a class="nav-link" href="/about">About Us</a>
      <% } %>
    </li>
    <% if (typeof displayName == 'string' && displayName) { %>
    <li>
        <i class="fas fa-lg fa-user"></i>
        Welcome, <%= displayName %>
    </li>
    <li>
        <a class="nav-link logout" href="/logout">
            <i class="fa-solid fa-sign-out-alt"></i> Logout
        </a>
    </li>
<% } else { %>
    <li>
        <a class="nav-link login" href="/login">
            <i class="fa-solid fa-sign-in-alt"></i> Login
        </a>
    </li>
<% } %>

    <li class="nav-item">
      <% if (title === "Contact") { %>
        <a class="nav-link active" href="/contact">Contact Us</a>
      <% } else { %>
        <a class="nav-link" href="/contact">Contact Us</a>
      <% } %>
    </li>


    
  </ul>
</nav>